:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


}

html,
body {
  margin: 0;
  height: 100%;
}


body {
  margin: 0;
  display: flex;
  background-color: black;
  /* padding: 0.5rem; */
  color: rgb(170, 170, 170);
}

.structure {
  background-color: rgb(24, 24, 24);
  border-right: 1px solid white; 
  height: 100%; 
  padding: 1rem; 
  min-width:10rem;
}

.mod-func {
  display: flex;
  gap: 1rem;
  justify-content: end;

}

.mod-logo {
  cursor: pointer;
}

.selectedItem {
  background-color: rgb(65, 65, 65);
  display: flex;
}